.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess
!application/cache/aws/index.html

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/vendor/
/nbproject/

*.sublime-workspace
composer.lock

opsworks/*
!opsworks/index.html
!opsworks/.htaccess
